/*

    RESET

*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*

GENERAL

*/

header{
    height: 30px;
    width: 100vw;
}

footer{
    height: 120px;
    width: 100vw;
}

main{
    height: calc(100vh - 120px - 30px);
    width: 100%;
}

button{
    border: none;
}

header{
    text-align: end;
    background-color: #000000;
}

.header-nav{
    background-color: #4A4A4A;
    padding: 2px;
    font-size: 0.7em;
    margin-top: 5px;
    margin-right: 2px;
}

.white-text{
    color: white;
}

.flex-box{
    display: flex;
    justify-content: center;
}

.flex-1{
  flex-wrap: wrap;
}

.columns{
    width: calc(100% / 8);
    height: 115px;
    margin: 5px;    
}

img{
    object-fit: contain;
}
/*

    DEBUG

*/

.debug main{
    background-color: pink;
}

.debug footer{
    background-color: lightgreen;
}

.debug .columns{
    background-color: lime;
}