/*

    RESET

*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*

GENERAL

*/

header{
    height: 30px;
    width: 100vw;
}

footer{
    height: 80px;
    width: 100vw;
    background-color: #222222;
}

main{
    height: calc(100vh - 80px - 30px);
    width: 100%;
    background-color: #000000;
}

button{
    border: none;
}

header{
    text-align: end;
    background-color: #000000;
}

.header-nav{
    background-color: #4A4A4A;
    padding: 2px;
    font-size: 0.7em;
    margin-top: 5px;
    margin-right: 2px;
}

.white-text{
    color: white;
}

.flex-box{
    display: flex;
}

.flex-1{
  flex-wrap: wrap;
  justify-content: center;
}

.flex-2{
    justify-content: space-between;
    height: 100%;
    width: 100%;
}
.columns{
    width: calc(100% / 8);
    height: 115px;
    margin: 5px;    
}

.left{
    width: 20%;
}

img{
    object-fit: contain;
}

.flex-2 button{
    height: 100%;
    background-color: #222222;
    vertical-align: middle;
    padding: 5px;
}

.flex-2 .fa-solid-big{
    font-size: 1.5em;
    padding-bottom: 3px;
}

.flex-2 .fa-solid-small{
    font-size: 0.5em;
}

.right{
    background-color: #4A4A4A;
    width: 10%;
    height: 100%;
}
.right button{
    width: 100%;
    padding: 10px;
    background-color: #4A4A4A;
}

.red-text{
    color: red;
}

.green-text{
    color: green;
}
.user-name{
    width: fit-content;
    position: relative;
    color: white;
    background-color: rgba(0, 0, 0, 2);
    bottom: 20px;
    z-index: 1;
}

/*

    DEBUG

*/
